In [ ]:
from z3 import *
from bool_test import QueryTest
from bool_test import *
from utils import *

In [2]:
# Beer DB Test case

# Simple WHERE Test
# q1 = "SELECT * FROM drinker, frequents WHERE name = drinker and times_a_week > 2 and bar = 'James Joyce Pub'"
# q2 = "SELECT * FROM drinker, frequents WHERE name = drinker and times_a_week > 3 and bar = 'Talk of the Town'"

# running example
q1 = "SELECT L.beer, S1.bar, COUNT(*) FROM Likes L, Frequents F, Serves S1, Serves S2 WHERE L.drinker = F.drinker AND F.bar = S1.bar AND L.beer = S1.beer AND S1.beer = S2.beer AND S1.price <= S2.price AND F.drinker = 'Amy' GROUP BY F.drinker, L.beer, S1.bar"
q2 = "SELECT s2.beer, s2.bar, COUNT(*) FROM Likes L, Serves s1, Serves s2, Frequents F WHERE L.drinker = 'Amy' AND L.beer = s1.beer AND L.beer = s2.beer AND s1.price > s2.price AND F.bar = s2.bar AND L.drinker = F.drinker GROUP BY s2.beer, s2.bar"
q1_info = QueryInfo(q1)
q2_info = QueryInfo(q2)
m = MappingInfo(q1_info, q2_info)
t = QueryTest(q1_info, q2_info, m.z3_var_lookup, m.table_mapping, m.table_mapping_reverse)

In [6]:
# t.test_where_having_min_overall_fo() # fix optimization
t.test_where_having_min_overall_fg()   # baseline algorithm

query is conjunctive
Repair Site #0: ['s1.price > s2.price']
Fix #0: s2.price <= s1.price

In [3]:
t.test_group_by()

GROUP BY clauses are equivalent.

([], [])

In [4]:
t.test_select()

([], [])